.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.text-in-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background-color: chocolate;
    opacity: 0.85;
    width: 35%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    /* font-family: 'Poiret One', cursive; */
    font-family: 'Cabin Condensed', sans-serif;
    background: url("http://appalachiantrail.org/images/default-source/default-album/trailfocus.jpg?sfvrsn=2")no-repeat center center fixed;
    width: 100%;
}

nav {
    background-color: black;
    width: 100%;
}

.top {
    background-color: antiquewhite;
    opacity: 0.75;
    padding-left: 15px;
    padding-bottom: 5px;
    width: 50%;
}

/* .listed {
    /* background-color: antiquewhite; */
    /* background-color: chocolate;
    opacity: 0.85; */
    /* padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px; */
    /* width: 75%; */
/* } */


.form {
    background-color: chocolate;
    opacity: 0.85;
}

h2 {
    font-family: 'Saira Condensed', sans-serif;
    text-shadow: 2px 2px chocolate;
}

.main-content {
    padding: 1em 2em;
}

.navList {
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: center;
    border: 1px solid lightgray;
    padding: 1em;
    margin: 0;
}

.navList__route {
    margin: 0 0.5em;
    font-family: 'Saira Condensed', sans-serif;
}

a:link {
    text-decoration: none;
    color: chocolate;
  }
  
  a:visited {
    text-decoration: none;
    color: chocolate;
  }