{% extends 'shared/base.html' %}

{% block content %}
    <h2>Create a New Study Resource</h2>

    {% if resource.id is not None %}
        <form action="{% url 'jobsauceapp:resource' resource.id %}" method="post">
    {% else %}
        <form action="{% url 'jobsauceapp:resources' %}" method="post">
    {% endif %}
        {% csrf_token %}
        <fieldset>
            <label for="tech_type_id">Technology to Study: </label>
            <select id="tech_type_id" type="text" name="tech_type_id">
                    {% for job in all_jobs %}
                    {% for tech_type in job.tech_types %}
                    <option {{ tech_type.name }} selected value="{{tech_type.tech_type_id}}">
                    {{ tech_type.name }}</option>
                    {% endfor %}
                {% endfor %}
            </select>
        </fieldset>
        <fieldset>
            <label for="link_to_resource">Add a Link to a Study Resource:</label>
            <input id="link_to_resource" type="text" name="link_to_resource" value="{{ resource.link_to_resource }}">
        </fieldset>
        <fieldset>
            <label for="date_due">Due Date: </label>
            <input id="date_due" type="text" name="date_due" value="{{ resource.date_due }}">
        </fieldset>
    
        <fieldset>
            <input id="is_complete" type="text" name="is_complete" value="False">
        </fieldset>

        {% if resource.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}

    </form>

{% endblock %}