{% extends 'shared/base.html' %}

{% block content %}
    <h2>Study Resources</h2>
    <h6>to enter a new study resource link <a href="{% url 'jobsauceapp:resource_form' %}">click here</a></h6>
    <ol>

        {% for resource in all_resources %}
            <h4>{{ resource.company_name }}</h4>
            <p>Are you ready to learn about {{resource.tech_name}}? <a href="{{resource.link_to_resource}}">click here</a></p>
            <h5> {{ resource.due_date }} </h5>
            <h6> Did you read/watch/do it yet? "{{ resource.is_complete }}" </h6>
            <section id="resource-actions" style="display:flex;">
                <form action="{% url 'jobsauceapp:resource_details' resource.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="actual_method" value="DELETE">
                    <button>Delete</button>
                </form>
            </section>

        {% endfor %}
        <br></br>
    </ol>
{% endblock %}