{% extends 'shared/base.html' %}

{% block content %}
    <h2>Study Resources</h2>
    <h6>to enter a new study resource link <a href="{% url 'jobsauceapp:resource_form' %}">click here</a></h6>
    <ol>

        {% for resource in all_resources %}
            <h4>Are you ready to learn about <a href="{{resource.link_to_resource}}">{{resource.tech_name}}</a>?</h4>
            <h5>Try to study it by... {{ resource.date_due }} </h5>
            {% if resource.is_complete == "True" %}
            {% comment %} <h6> learned something new... #sick </h6> {% endcomment %}
            {% elif resource.is_complete == "False" %}
            {% comment %} <p> let's get down to business... #studyme </p> {% endcomment %}
            {% endif %}

                    {% comment %} <form action="/action_page.php">
            <input type="checkbox" name="is_complete" value="True"> I have finished studying this tech resource.<br>
            <input type="checkbox" name="is_complete" value="False" checked> I have not yet studied this.<br>
            <input type="submit" value="Submit">
        </form> {% endcomment %}

        {% comment %} THE ABOVE CONSTITUTES A TYPE OF EDIT BUTTON... {% endcomment %}

            <section id="resource-actions" style="display:flex;">
                <form action="{% url 'jobsauceapp:resource' resource.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="actual_method" value="DELETE">
                    <button>Delete</button>
                </form>
                <form action="{% url 'jobsauceapp:edit' resource.id %}" method="GET">
                    {% csrf_token %}
                    <button>Edit</button>
                </form>
            </section>

        {% endfor %}
        <br></br>
    </ol>
{% endblock %}