{% extends 'shared/base.html' %}

{% block content %}
    <h2>Enter a Job You've Applied to:</h2>

    {% if job.id is not None %}
        <form action="{% url 'jobsauceapp:job' job.id %}" method="post">
    {% else %}
        <form action="{% url 'jobsauceapp:jobs' %}" method="post">
    {% endif %}
        {% csrf_token %}
      <fieldset>
          <label for="company_name">Company Name: </label>
          <input id="company_name" type="text" name="company_name">
      </fieldset>
      <fieldset>
          <label for="title_of_position">Title of Position: </label>
          <input id="title_of_position" type="text" name="title_of_position">
      </fieldset>
        <fieldset>
            <label for="technologies_list">What technologies did they list as necessary to the position?</label>
            <select id="technologies_list" multiple="true" name="technologies_list">
        {% for technologies in all_technologies %}
            <option value="{{technologies.id}}">{{technologies.name}}</option>
        {% endfor %}
            </select>
            <input type="button" onclick="multipleFunc()" value="select multiple options">
        </fieldset>
      <p>Press CTRL and click above button to select multiple options at once.</p>
      <script>
         function multipleFunc() {
            document.getElementById("technologies_list").multiple = true;
         }
      </script>
                            <input id="tech_list_id" type="hidden" name="tech_list_id" value="null">
      <fieldset>
          <label for="date_of_submission">Date you Applied: </label>
          <input id="date_of_submission" type="date" name="date_of_submission">
      </fieldset>

      {% if job.id is not None %}
            <input type="hidden" name="actual_method" value="PUT">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}
    </form>
{% endblock %}

{% comment %} value="{{ company.company_name }}"
value="{{ job.title_of_position }}"
value="{{ technologies.tech_names }}"
value="{{ job.date_of_submission }}" {% endcomment %}