{% extends 'shared/base.html' %}

{% block content %}
    <h2>Enter a Job You've Applied to:</h2>


    <form action="{% url 'jobsauceapp:jobs' %}" method="post">
      {% csrf_token %}
      <fieldset>
        <label for="company_name">Company Name: </label>
        <select id="company_name" type="text" name="company_name">
            {% for company in all_companies %}
                <option value="{{ company.id }}">{{ company.name }}</option>
            {% endfor %}
        </select>
      </fieldset>
      
      {% if company.id is not None %}
            <input type="hidden" name="actual_method" value="PUT_COMPANY">
            <input type="submit" value="Update" />
        {% else %}
            <input type="submit" value="Create" />
        {% endif %}

    </form>
{% endblock %}