{% extends 'shared/base.html' %}

{% block content %}
    <h2>Jobs you have applied for:</h2>
    <h6>to enter a new job <a href="{% url 'jobsauceapp:job_form' %}">click here</a></h6>

    <ol>
    {% for job in all_jobs %}
        <h4> {{ job.company_name }} </h4>
        <p><strong> {{ job.title_of_position }} </strong></p>
        <ul>
            {% for tech_type in job.tech_types %}
                <li>{{ tech_type.name }}</li>
            {% endfor %}
        </ul>

        <p> Application Submission Date: {{ job.date_of_submission }} </p>
        <form action="{% url 'jobsauceapp:job' job.id %}" method="POST">
        {% csrf_token %}
            <input type="hidden" name="actual_method" value="DELETE">
            <button>Delete</button>
        </form>
        <form action="{% url 'jobsauceapp:job' job.id %}" method="GET">
        {% csrf_token %}
            <button>Edit</button>
        </form>
        {% comment %} <h6>to edit a job <a href="{% url 'jobsauceapp:job' job.id %}">click here</a></h6> {% endcomment %}
        <br></br>
    {% endfor %}
    </ol>
{% endblock %}
