{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List of Jobs you've applied to!</title>
  </head>
  <body>
    <h1>Jobs you have applied for:</h1>

    <ol>
    {% for job in all_jobs %}
        <h4> {{ job.company_name }} </h4>
        <h3> {{ job.title_of_position }} </h3>
        <ul>
            {% for each in job.tech_types %}
                <li>{{ each.name }}</li>
            {% endfor %}
        </ul>

        <p> Application Submission Date: {{ job.date_of_submission }} </p>
        <p> Have you heard back yet? {{ job.is_rejected }} </p>
        <br></br>
    {% endfor %}
    </ol>
  </body>
</html>