{% extends 'shared/base.html' %}

{% block content %}
    <div class="top">
        <h2>Responses</h2>
        <h5>to enter a new response <a href="{% url 'jobsauceapp:response_form' %}">click here</a></h5>
    </div>

        <ol class="listed">

        {% for response in all_responses %}
            <h4>From {{ response.name }},</h4>
            <ul>
                <li>Regarding your application to the position of <strong>{{ response.title_of_position }}:</strong></li>
                <li>"{{ response.details }}"</li>
            </ul>
            <p><strong> Replied on {{ response.date }} </strong></p>
            <section id="response-record-actions" style="display:flex;">
                <form action="{% url 'jobsauceapp:response' response.id %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="actual_method" value="DELETE">
                    <button>Delete</button>
                </form>
                <form action="{% url 'jobsauceapp:response' response.id %}" method="GET">
                    {% csrf_token %}
                    <button>Edit</button>
                </form>
            </section>
        {% endfor %}
    <br></br>
    </ol>
{% endblock %}