{% extends 'shared/base.html' %}

{% block content %}
    <h2>Register</h2>

    <form action="{% url 'jobsauceapp:register' %}" method="post">
        <fieldset>
            <label for="username">Username: </label>
            <input id="username" type="text" name="username" value="">
        </fieldset>

        <fieldset>
            <label for="password">Password: </label>
            <input id="password" type="password" name="password" value="">
        </fieldset>

        <input type="submit" value="Register" />

    </form>

{% endblock %}